/**/
#txtSexo{
  font-size:30px;
}
.op{
  font-size:20px;
}

input[type="radio"] {
    -ms-transform: scale(2.5); /* IE 9 */
    -webkit-transform: scale(5.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}